.title{
    margin-top:103px;
    display:flex;
    justify-content:center;   /* 래퍼(inner)를 화면 가운데 배치 */
}

.inner{
  width:89.58vw;            /* 텍스트와 선이 공유할 동일한 폭 */
}

.text{
  display:flex;
  flex-direction:column;
  align-items:flex-start;   /* 텍스트 왼쪽 정렬 */
}

.title p{
  color: var(--Primary-2, #0966FF);
  font-size: clamp(15px, 2.5vw, 22px);
  font-weight: 600;
  line-height: 40px;
}

.underLine{
  width:100%;               /* inner의 폭과 동일 */
  height:1px;
  background-color: var(--Secondary-5, #899EBB);
  margin-top:8px;           /* 간격 필요 시 */
}

.fileChipText{
    display:flex;
    flex-direction:column;
    gap:1px;
    margin-right:clamp(100px, 4vw, 200px);
}

.fileName{
    color: var(--Black-4, #454545);
    font-size: clamp(15px, 2.5vw, 20px);
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
}

.fileStatus{
    color: var(--Secondary-5, #899EBB);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.PhotoUpolad{
    margin-top:155px;
}