* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pretendard;
}

body {
    background-color: #FFF;
    width: 100vw;
    min-height: 100vh;
}

.FactoryLoginHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:100px;
    gap:38px;
}

.FactoryLoginHeader h1{
    color: var(--Black-5, #151A20);
    font-size: clamp(24px, 2.5vw, 50px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.LoginToggle{
    display:flex;
    width: 560px;
    align-items: center;
    justify-content: center;
    height: 85px;
    flex-shrink: 0;
    border-radius: 40px;
    padding-left:7px;
    background: var(--Black-1, #E6E6E6);
}

.LoginToggle:hover{
    transition: all 0.3s ease;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(9, 102, 255, 0.3);
    cursor: pointer;
}



.IdAndPassword{
    margin-top:115px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
}

.IdSavedAndSearch{
    display:flex;
    width: 658px;
    height: 81px;
}