* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pretendard;
}

body {
    background-color: #FFF;
    width: 100vw;
    min-height: 100vh;
}

.FactoryLoginHeader{
    width: 400px;
    margin: 20px auto;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FactoryLoginHeader h1{
    color: var(--Black-5, #151A20);
    font-size: clamp(24px, 2.5vw, 30px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom:10px;
}

.LoginToggle{
    width: clamp(450px, 20vw, 550px);
    height: 55px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    flex-shrink: 0;
    border-radius: 40px;
    padding-left:7px;
    padding-right:7px;
    background: var(--Black-1, #E6E6E6);
}

.LoginToggle:hover{
    transition: all 0.3s ease;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(9, 102, 255, 0.3);
    cursor: pointer;
}



.IdAndPassword{
    margin-top:50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
}

.IdSavedAndSearch{
    display:flex;
    width: 658px;
    height: 81px;
}