body {
    background-color: #FFF;
    width: 100vw;
    min-height: 100vh;
}


.main{
    margin-top: 20vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    
 
}

.iconAndText{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.main h1{
    color: var(--Black-3, #7F7F7F);
    font-size: clamp(20px, 3vw, 30px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}